.logo {
  width: 1.5em;
  cursor: pointer;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: Quicksand;
}

nav {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8em;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
  li {
    list-style: none;

    a {
      color: #2e2e2e;
      text-decoration: none;
      font-size: 1rem;
    }
  }
  .dropbtn {
    color: #2e2e2e;
    padding: 16px;
    font-size: 1rem;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Quicksand;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1;
  }

  .dropdown-content a {
    font-weight: 500;
    font-family: Quicksand;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #fff;
  }
}

.searchbox {
  padding: 0.8em;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  border-radius: 0.4em;
  font-family: Poppins;
  width: 16em;
  &:focus {
    background-color: #fdfdfd;
  }
}

::placeholder {
  font-family: Quicksand;
  font-weight: 600;
}

.searchbar-nav {
  background-color: #f9f9f9;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f1f1;
}

.searchbar-nav:focus-within {
  background-color: #fdfdfd;
}

.searchicon {
  margin-left: 0.8em;
}
.icons_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  a {
    text-decoration: none;
    color: #2e2e2e;
  }
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin-right: 6.8em;
}

.logo_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-family: Poppins;
  font-size: large;
  font-weight: 500;
  margin-left: 6.8em;
  cursor: pointer;
}
