.FeaturedProduct {
  margin-top: 3em;
  h1 {
    font-weight: 600;
    margin-bottom: 1em;
  }
}

.featureproduct_cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 1.5em;
  overflow: hidden;
}

.next_prev_banner2 {
  background-color: #fff;
}

.next_prev_banner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2em;
  width: 6.3em;
  border-radius: 0.5em;
  overflow: hidden;
  border: 1px solid #eee;
  margin-bottom: 2em;
}

.featureeed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
