.subscribe__input__form {
  background-color: #f9fafb;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebeef2;
}

.subscribe__input__form:focus-within {
  background-color: #fdfdfd;
}

.emailiconnews {
  margin-left: 0.8em;
}
::placeholder {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  color: #9fa9b6;
}
.email__input__newsletter {
  padding: 1em;
  border: none;
  outline: none;
  background-color: #f9fafb;
  border-radius: 0.4em;
  font-family: "Plus Jakarta Sans";
  width: 18em;
  font-size: 0.9em;
  &:focus {
    background-color: #fdfdfd;
  }
}

.subscribe__btn {
  background-color: #1e242c !important;
  color: white;
  z-index: 100;
  color: #fff;
  padding: 1em;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 1rem;
  border-radius: 0.4em;
  width: 8em;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #000000;
  }
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 3em;
}
.input__newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #f9fafb;
  font-size: large;
  gap: 0.5em;
  margin-bottom: 1em;
}
.newsletter_info {
  h2 {
    font-size: xx-large;
  }
  width: 55%;
  p {
    color: #67717d;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }
}

.warn_news_landing {
  color: #9fa9b6;
  width: 20em;
  font-size: 0.88em;
  a {
    color: #1e242c;
  }
  line-height: 1.5em;
}
